.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  background-color: aqua;

}

.search input {

  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  background-color: aqua;


}

.nsves {
  padding: 0px !important;
  background: #F9FAFD !important
}

.frc {
  /* width: 172px; */
  /* height: 20px; */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 1.1rem;
  /* line-height: 20px; */
  margin-left: 7px;
  text-transform: uppercase;
  color: #020202;
  flex: none;
  /* order: 3; */
  /* flex-grow: 0; */
}

.B_header {
  margin-right: 2%;
}
.persons{
  width: 30px;
  margin-left: 3%;
}

.ic_image {
  height: 45px;
  /* margin-left: 2%; */
}

/* form ki styling  */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  /* background-color: aqua; */
}

.container form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  /* margin: 0 0 30px; */
}

.container input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}


.container form.nosubmit {
  border: none;
  padding: 0;
}

.container input.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.Links{
  color: #020202;
  text-decoration: none;
}